[Desktop Entry]
Name=Dissolution of Eternity
Type=Application
Exec=quake-gles1 -rogue
Icon=rogue
Comment=Quake - Dissolution of Eternity mission pack
Terminal=false
Categories=games;
X-OD-Manual=manual-gcw0.txt
